.button {
  padding: 36px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  font-variant: small-caps;
  color: var(--white);
  background: var(--secondary-color);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #313547;
  color: var(--white);
}

.button:focus,
.button:active {
  background: #272b3d;
  color: var(--white);
}

.white-button {
  background: var(--white);
  color: var(--black);
}
.white-button:hover {
  background: #f5f5f5;
  color: var(--black);
}
.white-button:focus,
.white-button:active {
  background: #ebebeb;
  color: var(--black);
}
