.faq {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.faq-items {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 1712px;
}
.faq-item {
  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq-item.active {
  background: #6072f226;
}
.faq-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-item-title-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0px;
  font-variant: small-caps;
}

.faq-item-description {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0px;
  font-variant: small-caps;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.faq-item.active .faq-item-description {
  max-height: 1000px;
  opacity: 1;
}
.faq-item-title-text,
.faq-item-description {
  max-width: 1200px;
}
.faq .dropdown {
  width: 54px;
  height: 54px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq .dropdown img {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.faq-item.active .dropdown img {
  transform: rotate(180deg);
}
@media screen and (max-width: 1024px) {
  .faq-item-title-text {
    font-size: 22px;
    max-width: 474px;
  }
  .faq-item-description {
    font-size: 20px;
  }
   .faq .dropdown img {
    width: 28px;
  }
   .faq-item {
    padding: 30px;
  }
  .faq-items {
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .faq {
    gap: 40px;
  }
  .faq-item-title-text {
    font-size: 20px;
  }
  .faq-item-description {
    font-size: 18px;
  }
  .faq .dropdown img {
    width: 28px;
  }
  .faq-item {
    padding: 16px 12px;
  }
  .faq-items {
    gap: 0;
  }
}