.footer {
  padding: 70px 104px;
  background: var(--header);
  font-family: Montserrat;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container .footer-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-container .footer-links ul li a {
  color: #000000b2;
  text-align: start;
}

.footer .footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 70px;
}
.footer .footer-social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.social-icons {
  display: flex;
  gap: 16px;
}
.contacts-top-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer-links ul {
  display: flex;
  align-items: center;
  gap: 42px;
}
.footer-social-links {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.footer-links ul li {
  list-style: none;
}
.footer-links ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 22px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.footer-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .footer {
      padding: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px 32px;
  }
  .footer-logo {
    font-size: 32px;
    z-index: 99;
    text-align: start;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 32px 24px;
    align-items: start;
  }
  .footer-logo {
    grid-column: 1;
    grid-row: 1;
  }
  .footer-links {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
  }
  .footer .footer-contacts {
    height: 100%;
  }
  .footer-contacts {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 24px;
  }
  .footer-container .footer-links ul {
    gap: 22px;
  }
  .footer-links ul li a {
    font-size: 18px;
  }
  .footer .footer-social-links {
    align-items: flex-end;
  }
  .contacts-top-section {
    align-items: flex-end;
    text-align: end;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 50px 16px;
  }
  .footer-logo {
    font-size: 20px;
    z-index: 99;
    text-align: start;
  }
  .footer-container {
    flex-direction: column;
    gap: 32px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }
  .footer-container .footer-links ul {
    gap: 18px;
  }
  .footer-links ul li a {
    font-size: 14px;
  }
  .footer .footer-contacts {
    gap: 20px;
  }
}
