.ways-to-get-money {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.get-money-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.get-money-card {
  border: 1px solid #6072f266;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 42px 50px;
}
.get-money-card img {
  width: 100%;
  height: 100%;
  margin: 0auto;
}

.get-money-card-texts {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 18px;
}
.get-money-card-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  font-variant: small-caps;
}

.get-money-card-description {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 140%;
  font-variant: small-caps;
}

@media screen and (max-width: 1024px) {
  .ways-to-get-money {
    gap: 30px;
  }
  .get-money-cards {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .get-money-card:nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
    max-width: calc(50% - 8px);
  }
  .get-money-card {
    padding: 24px 32px;
  }
  .get-money-card-title {
    font-size: 27px;
  }
  .get-money-card-description {
    font-size: 20px;
  }
  .get-money-card-texts {
    gap: 8px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .ways-to-get-money {
    gap: 30px;
  }
  .get-money-cards {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .get-money-card {
    padding: 12px 16px 32px 12px;
  }
  .get-money-card-title {
    font-size: 20px;
  }
  .get-money-card-description {
    font-size: 16px;
  }
  .get-money-card-texts {
    gap: 8px;
    margin-top: 16px;
  }
  .get-money-card:nth-child(3) {
    width: 100%;
    max-width: 100%;
  }
}
