.header {
  background-color: var(--header);
  padding: 48px 104px;
  font-family: Montserrat;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}
.links {
  display: flex;
  align-items: center;
  gap: 50px;
}
.links ul {
  display: flex;
  align-items: center;
  gap: 42px;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.links ul li {
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.links ul li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.phone {
  text-decoration: none;
  color: var(--black);
  font-size: 22px;
  font-weight: bold;
}

.we-online {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Manrope;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green);
}
