.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 830px;
  position: relative;
}

.title {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 65px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.hero-exchanger .description {
  max-width: 621px;
  margin: 0 auto;
}
.description {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: center;
  font-variant: small-caps;
}

.hero-content .vector {
  position: absolute;
  top: 55%;
  right: 0;
  max-width: 404px;
}
.hero-exchanger {
  display: flex;
  flex-direction: column;
}

.hero-exchanger-card {
  position: relative;
  padding: 60px;
  padding-top: 54px;
  border-radius: 40px;
  background: var(--primary-color);
  display: flex;
  gap: 80px;
  justify-content: center;
}
.send-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
}
.send-card .send {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: center;
  font-variant: small-caps;
  color: #ffffffb2;
}
.hero-exchanger-card .amount {
  border: 0;
  border-bottom: 1px solid #ffffff66;
  font-family: Manrope;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  font-variant: small-caps;
  background: transparent;
  color: white;
  outline: none;
  padding: 6px 14px;
  width: auto;
  min-width: 272px;
  max-width: 328px;
}

.amount::placeholder {
  color: var(--white);
  font-family: Montserrat;
  font-weight: 400;
}
.active-currency {
  background: var(--white);
  padding: 14px 31px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background 0.25s ease;
}

.active-currency img {
  transition: transform 0.25s ease;
}
.active-currency .flag {
  width: 36px;
  height: 26px;
  object-fit: cover;
}
.active-currency .code {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  font-variant: small-caps;
}

.active-currency.open .down-icon {
  transform: rotate(180deg);
}

.currencies {
  border: 5px solid #6072f240;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 20px;
  margin-top: 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform-origin: top;
  transform: translateY(-8px);
  transition: max-height 0.25s ease, opacity 0.25s ease, transform 0.25s ease;
  position: absolute;
  z-index: 100;
}

.currencies.open {
  max-height: 500px; /* enough to show all items */
  opacity: 1;
  transform: translateY(0);
}

.currencies .currency {
  padding: 10px 42px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.currencies .currency:hover {
  background: #6072f233;
}

.currencies .currency img {
  width: 35px;
  height: 26px;
}
.currencies .currency span {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  font-variant: small-caps;
}
.currency-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.currency-card-title {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  font-variant: small-caps;
  color: #ffffffb2;
}

.hero-exchanger {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.exchanger-icon {
  background: var(--white);
  position: absolute;
  padding: 11px 16px;
  border-radius: 22px;
  top: -48px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.exchanger-icon:hover {
  background: var(--header);
}
.hero-exchanger-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.exchange-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.exchange-button {
  border: 1px solid #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 34px;
  border-radius: 50px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #0000008c;
}
.exchange-button:hover {
  border: 1px solid var(--black);
  color: var(--black);
}

.button {
  padding: 36px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  font-variant: small-caps;
  color: var(--white);
  background: var(--secondary-color);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #313547;
  color: var(--white);
}

.button:focus,
.button:active {
  background: #272b3d;
  color: var(--white);
}
