@import "./fonts.css";
@import "./variables.css";
@import "./header.css";
@import "./hero.css";
@import "./rates.css";
@import "./get-money.css";
@import "./button.css";
@import "./referral.css";
@import "./faq.css";
@import "./exchange.css";
@import "./footer.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  gap: 140px;
  padding: 70px 104px;
}
