@import "./fonts.css";
@import "./variables.css";
@import "./header.css";
@import "./hero.css";
@import "./rates.css";
@import "./get-money.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  gap: 140px;
  padding: 70px 104px;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.referall {
  background: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 40px;
  padding: 80px;
}