@import "./fonts.css";
@import "./variables.css";
@import "./header.css";
@import "./hero.css";
@import "./rates.css";
@import "./get-money.css";
@import "./button.css";
@import "./referral.css";
@import "./faq.css";
@import "./exchange.css";
@import "./footer.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  gap: 140px;
  padding: 70px 104px;
  overflow-x: hidden;
}


@media (min-width: 1024px) and (max-width: 1440px) {
  .main-page {
    padding: 50px;
  }
}

@media (max-width: 1023px) {
  .main-page {
    padding: 32px;
    gap: 80px;
  }
}

@media screen and (max-width:767px) {
  .main-page {
    padding: 16px;
    gap: 50px;
  }
}