.rates {
  max-width: 1330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.rates-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.second-title {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
}
.rates-table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: start;
  gap: 44px;
}
.rates-table-header-cell {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 140%;
  text-align: start;
  font-variant: small-caps;
}

.rates-table-body {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rates-table-body-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  gap: 44px;
}
.rates-table-body-cell img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.rates-table-body-cell {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 42px;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 1600px) {
  .rates-table-header-cell {
    font-size: 28px;
  }
  .rates-table-body-cell {
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .second-title {
    font-size: 40px;
  }
  .rates {
    width: 100%;
  }
  .rates-content {
    gap: 32px;
  }

  .rates-table-header {
    gap: 20px;
  }
  .rates-table-body-row {
    gap: 20px;
  }
  .rates-table-header-cell {
    font-size: 22px;
  }
  .rates-table-body-cell img {
    width: 70px;
    height: 70px;
  }
  .rates-table-body-cell {
    font-size: 22px;
    gap: 4px;
  }
  .rates-table-body {
    margin-top: 32px;
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .rates-table-header-cell span {
    display: none;
  }
  .second-title {
    font-size: 23px;
  }
  .rates-content {
    gap: 26px;
  }
  .rates-table-header-cell {
    font-size: 18px;
  }
  .rates-table-body-cell img {
    width: 35px;
    height: 35px;
  }
  .rates-table-body-cell {
    font-size: 18px;
    gap: 4px;
  }
  .rates-table-body {
    margin-top: 18px;
    gap: 4px;
  }
}
