:root {
  --primary-color: #6072f2;
  --secondary-color: #3b3f51;
  --header: #f4f2ff;
  --black: #000;
  --green: #00ff00;
  --white: #fff;
}

.text-white {
  color: var(--white);
}
.text-start {
  text-align: start !important;
}
.relative {
  position: relative;
}
